body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #3a4b58;
  letter-spacing: .7px;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

ul {
  padding-left: 0;
  margin-bottom: 5px;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px;
}

.center {
  text-align: center;
}

.p-text {
  font-family: 'Roboto Condensed', sans-serif !important;
  letter-spacing: .7px;
  color: #696a6d !important;
  font-weight: 300;
  font-size: 16pt;
}

.avatar-name span {
  font-size: 18px !important;
}

.nav {
  border-bottom: 1px solid #30CF83;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

.active {
  font-weight: bold !important;
}

.header {
  font-family: 'Oxygen', sans-serif;
  letter-spacing: .7px;
  color: #3a4b58;
  font-size: 22pt;
}

.form {
  min-width: 120px !important;
}

.TabIndicator-colorSecondary-189 {
  background-color: #30CF83 !important;
}

.card-style {
  /* min-height: 300px; */
  padding: 1rem;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 4rem;
}

.card-header-user span {
  text-align: left;
  font-size: 16px !important;
  font-family: 'Oxygen', sans-serif !important;
  letter-spacing: .7px !important;
  color: #30CF83;
}

/* Button CSS */
.login-btn {
  font-family: 'Oxygen', sans-serif !important;
  letter-spacing: .7px;
  font-weight: 700 !important;
  color: #30CF83 !important;
  margin-top: 1rem !important;
}

.vote-btn {
  background-color: #30CF83 !important;
  color: #ffffff !important;
}

.login-search {
  margin-right: 10px;
}

.margin {
  margin: 1rem !important;
}

/* Question list page (home) */
.question-card {
  padding: 2rem;
}

/* LeaderBoard page */
.user-name {
  color: #3a4b58 !important;
  font-family: 'Oxygen', sans-serif !important;
  font-size: 16pt !important;
  margin-top: 0;
}
